
.doctor-profile {
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-picture {
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .profile-picture img {
    width: 300px;
    height: 200px;
    border-radius: 75px;
  }
  
  .profile-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
  }
  
  .profile-details h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .profile-details p {
    margin: 5px 0;
    font-size: 18px;
  }
  
  .profile-inputs {
    margin-top: 20px;
  }
  
  .profile-inputs label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .profile-inputs input[type="date"],
  .profile-inputs select {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    height: 35px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  
  Footer {
    background-color: #333;
    color: black;
    padding-top: 20px;
    width: 100%;
    position: relative; 
    bottom: 0;
  }
  